/* video */

.videoBorder{
	position: relative;
	top: 140px;
	margin: 0 auto;
	height: 420px;
	width: 854px;
	border: 5px solid rgba(255, 255, 255, 0.568);
	border-radius: 95px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.966);
	
  }

  video {
	position: absolute;
	top:0px;
	left:-5px;
	height: 420px;
	width: 854px;
  }
